<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Enter New Password</title>
    <script th:inline="javascript">
      function submitForm(event) {
        event.preventDefault();
        let message = document.getElementById("message");
        let formEle = document.getElementById("formEle");
        const formData = {
          password: document.getElementById("newPassword").value,
          token: document.getElementById("token").value,
        };
        let url = /*[[${url}]]*/ "";
        fetch(url + "/auth/reset", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(formData),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status == "success") {
              message.innerHTML = "Your password has been successfully changed";
              formEle.remove();
            } else if (data.status == "failed") message.innerHTML = "Error changing your password. Try again.";

            console.log(data);
          })
          .catch((error) => {
            message.innerHTML = "Error changing your password. Try again.";
            console.error("Error:", error);
          });
      }
    </script>
  </head>
  <body>
    <div class="container">
      <h2>Enter New Password</h2>
      <form onsubmit="submitForm(event)" id="formEle">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" class="form-control" th:value="${email}" readonly />
        </div>
        <div class="form-group">
          <label for="newPassword">New Password:</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control" required />
        </div>
        <input type="hidden" th:value="${token}" id="token" name="token" />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <h2 id="message"></h2>
    </div>
  </body>
</html>
